.idea
/lib
node_modules
.DS_store
**/.DS_Store
.env*
/*.js

dist
coverage

api/
services/
models/
subscribers/
migrations/
loaders/
index.*
utils/
types/
src/coverage

!src/services

./tsconfig.tsbuildinfo
./package-lock.json
./yarn.json
*.tgz